
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title">Play 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="custom-title">Play 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Imagen de Eladio Carrion -->
  <ion-card>
    <ion-img src="./assets/img/play4.jpg"></ion-img>
  </ion-card>

  <!-- Biografía -->
  <ion-card>
    <ion-card-header>
      <ion-title class="custom-title">Que es</ion-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      La PlayStation 4, abreviada comúnmente como PS4, es una consola de videojuegos desarrollada por Sony Interactive Entertainment. Fue lanzada al mercado en noviembre de 2013 como la sucesora de la PlayStation 3. La PS4 introdujo mejoras significativas en términos de hardware y rendimiento, incluyendo un procesador AMD Jaguar de 8 núcleos, una GPU AMD Radeon personalizada, 8 GB de memoria RAM GDDR5 unificada, y un disco duro interno para almacenamiento de datos. La PS4 también incluyó características sociales y en línea más robustas, permitiendo a los jugadores compartir contenido, transmitir juegos en vivo, y conectarse con amigos a través de PlayStation Network. Fue una consola extremadamente popular, vendiendo millones de unidades en todo el mundo y estableciendo una amplia base de jugadores.
     </ion-card-content>
  </ion-card>

  <!-- Temas más escuchados -->
  <ion-card>
    <ion-card-header>
      <ion-title class="custom-title">Componentes</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Procesador CPU</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Unidad de procesamiento gráfico (GPU)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Memoria RAM</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Disco Duro</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Unidad óptica</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>