<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      La generacion playstation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div style="margin-left: 450px; display: flex; width: 60%;">

    <!-- Primer div con dos imágenes en vertical -->
    <div style="width: 33%; display: flex; flex-direction: column;">
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="./assets/img/play2.webp" alt="Imagen Superior" style="max-width: 120%; height: 100%;">
      </div>
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="./assets/img/play3.jpg" alt="Imagen Inferior" style="max-width: 100%; height: 100%">
      </div>
    </div>

    <!-- Los otros dos divs con una imagen cada uno -->
    <div style="width: 33%; display: flex; justify-content: center; align-items: center;">
      <img src="./assets/img/play1.jpg" style="max-width: 100%; height: 100%;">

    </div>
    <div style="width: 33%; display: flex; flex-direction: column;">
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="./assets/img/play4.jpg" alt="Imagen Superior" style="max-width: 100%; height: 100%;">
      </div>
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="./assets/img/play5.webp" alt="Imagen Inferior" style="max-width: 100%; height: 100%">
      </div>
    </div>
  </div>
</ion-content>