<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Play 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-img src="./assets/img/play2.webp" style="max-width: 60%; height: auto; padding-left: 30%;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h2>Que es</h2>
        <p>La PlayStation 2, comúnmente conocida como PS2, es una consola de videojuegos desarrollada por Sony Computer Entertainment. Fue lanzada en el año 2000 y es la sucesora de la PlayStation original. La PS2 fue una de las consolas más populares y exitosas de su tiempo, vendiendo más de 155 millones de unidades en todo el mundo. Ofrecía mejoras significativas en gráficos y capacidad de juego en comparación con su predecesora, así como también incluía un reproductor de DVD incorporado, lo que la convirtió en una opción popular para los consumidores interesados tanto en videojuegos como en entretenimiento multimedia. La PlayStation 2 tenía una amplia biblioteca de juegos que abarcaba una variedad de géneros y era compatible con los juegos de su predecesora, la PlayStation original.</p>
      </ion-col>
      <ion-col size="6">
        <h2>Componentes</h2>
        <ion-list>
          <ion-item>
            <ion-label>Unidad Central de Procesamiento (CPU)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Unidad de Procesamiento Gráfico (GPU)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Memoria RAM</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Unidad de Disco Óptico</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Controladores</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<!-- 
  <app-explore-container name="Melendi Page"></app-explore-container> -->
</ion-content>