<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Play
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Skillet</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-card>
    <ion-card-header>
      Play 3
      
      <img src="./assets/img/play3.jpg" alt="Album 1 Cover" style="width: 1000px; height: 500px; display: block; margin: auto;">
    </ion-card-header>
    <ion-card-content>
      La PlayStation 3, abreviada comúnmente como PS3, es una consola de videojuegos desarrollada por Sony Computer Entertainment. Fue lanzada al mercado en 2006 y es la sucesora de la PlayStation 2. La PS3 introdujo varias mejoras técnicas significativas, incluyendo un procesador Cell de 3.2 GHz, una GPU Nvidia RSX, y capacidad para reproducir discos Blu-ray, lo que la convirtió en una plataforma de entretenimiento multimedia versátil además de una consola de juegos. La PS3 también ofrecía funciones en línea a través de PlayStation Network, permitiendo a los usuarios jugar en línea, descargar juegos y contenido adicional, y acceder a servicios de transmisión de video. Fue una consola muy popular y vendió millones de unidades en todo el mundo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Componentes
      
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Example: Album 1 -->
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="./assets/img/resistence.jpg" alt="Album 1 Cover">
            
          </ion-thumbnail>
          <ion-label>
            <h2>Componentes</h2>
            <p>La PlayStation 3 (PS3) presenta los siguientes componentes principales: procesador Cell con CPU y ocho núcleos adicionales para tareas específicas, GPU Nvidia RSX para gráficos avanzados, memoria RAM de diferentes configuraciones según el modelo, unidad de disco Blu-ray para reproducción de alta definición y juegos con mayor capacidad, disco duro interno para almacenamiento de datos, y conectividad mediante puertos USB, HDMI, Ethernet, Wi-Fi (en modelos posteriores), y Bluetooth, siendo compatible con una amplia gama de periféricos.</p>

          </ion-label>
        </ion-item>

        <!-- Add more ion-item elements for additional albums -->
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>